@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Web_Site.Models.Listings>

<div class="jumbotron">
    <a href="@Url.Action("Index", "Listings")">
        <img id="img" src="/Content/Images/cars.jpg"/>
    </a>
</div>



<div class="last-listings">Last Listings </div>
<div class="listings-background">
    <section class="home row">
        @foreach (var list in Model)
        {
            <article class="posts col-md-3" ;>
                <h1>
                    <a href="/Listings/SelectedCategorie/@list.SelectCategorie" style="color: gold">@list.SelectCategorie</a>
                </h1>
                <h2 class="listings-title">
                    <a href="/Listings/Details/@list.Id" style="color: black">@list.Title</a>
                </h2>
                <div class="listings-title">
                    Created on:<i>@list.Date</i>
                    @if (@list.Author != null)
                {
                        @:by <i>@list.Author.FullName (@list.Author.UserName)</i>
                }

                </div>
                <p class="listings-title">
                    @Web_Site.Classes.Utils.CutText(list.Body)
                </p>
            </article>
        }
    </section>
</div>