@using Web_Site.Classes
@model IEnumerable<Web_Site.Models.Listings>

@{
    ViewBag.Title = "Index";
}
<h2>Listings</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.CategorieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Utils.CutText(item.Body)
            </td>
            <td>
               @item.CategorieName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Author != null)
                {
                    @item.Author.UserName
                }
                else
                {
                    <i>(No Author)</i>
                }
            </td>
            <td>
                @if (item.Comments.Count > 0)
                {
                    foreach (var c in item.Comments)
                    {
                        @c.Text@:;<br>
                    }
                }
                else
                {
                    <i>(No Comments)</i>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Comments", "Index", "Comments/Create") |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
